#shop_access_area.shop_detail_description_el.hidden
  %h2 アクセス
  .show_access
    .show_access_map
      #map
      - google_api = "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAP_API']}&callback=initMap".html_safe
      %script{:async => "", :src=> google_api}
      %p= @shop.address
    .show_access_info

  :javascript
    let map;
    
    function initMap(){
      geocoder = new google.maps.Geocoder()
      
      map = new google.maps.Map(document.getElementById('map'), {
        center: {
          lat: gon.shop.latitude,
          lng: gon.shop.longitude
        },
        zoom: 14,
      });
      
      marker = new google.maps.Marker({
        position: {
          lat: gon.shop.latitude,
          lng: gon.shop.longitude
        },
        map: map
      });
    }
