= render 'layouts/search'
.shop
  - @shops.each do |shop|
    = link_to shop_path(shop) do
      = render 'lists', shop: shop
- if user_signed_in? && current_user.admin?
  .new_shop
    = link_to new_shop_path do
      %i.fas.fa-plus-square.fa-4x.fa-color