@import 'variable';

.btn {
  padding: 16px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  border: none;
  
  
  &_sign {
    background-color: yellow;
  }
  
  
  &_submit {
    background-color: #FFAD90;
  }
  
  &_reverse {
    padding: 10px 20px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border-radius: 5px;
  }
  
  &_reverse:hover {
    background-color: white;
    color: $primary-color !important;
  }
}