.btn {
  padding: 16px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  border: none;
  
  
  &_sign {
    background-color: yellow;
  }
  
  
  &_submit {
    background-color: #FFAD90;
  }
}