@import 'variable';

.show_comment {
  margin: 16px 10px;
  padding: 10px;
  border: solid 1px $border-color;
  
  &_info {
    width: 100%;
    position: relative;  
    display: flex;
    flex-wrap: wrap;    
    border-bottom: 1px solid $border-color;
  }
  
  &_title {
    font-size: 24px;
    height: 36px;
  }
  
  &_user {
    height: 36px;
    line-height: 36px;
    position: absolute;
    right: 10px;
    font-size: 12px;
  }
  
  &_content {
    padding: 10px 0;
  }

}

.new_comment {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  padding: 5px 10px;
  background-color: $primary-color;
  border-radius: 8px;
  
  span {
    color: white;
  }
  
  &_form {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    border: none;
    background-color: #dfdddd;
    border-radius: 5px;
  }
}

