@import 'variable';

html {
  background-color: $background-color;  
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  padding: 16px;
  margin-top: 90px;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

li {
  list-style: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.center {
  margin: 0 auto;
}