@import 'variable';

.show_comment {
  margin: 16px 10px;
  padding: 10px;
  border: solid 1px $border-color;
  
  &_info {
    width: 100%;
    position: relative;  
    display: flex;
    flex-wrap: wrap;    
    border-bottom: 1px solid $border-color;
  }
  
  &_title {
    font-size: 24px;
    min-height: 36px;
    width: 70%;
    overflow-wrap:  break-word;
  }
  
  &_user {
    height: 36px;
    line-height: 36px;
    position: absolute;
    right: 10px;
    font-size: 12px;
  }
  
  &_content {
    padding: 10px 0;
    width: 100%;
    overflow-wrap:  break-word;
  }

}

.new_comment {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  padding: 5px 15px;
  background-color: $primary-color;
  border-radius: 8px;
  
  span {
    color: white;
  }
}

.add_comment {
  
  &_form {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #dfdddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
    
}

.comment_title {
  p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;      
  }

  &_form {
    min-height: 20px;
  }    
}

.comment_content {
  p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;      
  }
  &_form {
    min-height: 140px;
  }    
}

.comment_star {
  p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;      
  }

  margin: 5px 0;
  min-height: 30px;
}

.comment_btn {
  width: 100%;
  display: flex;
  margin-top: 30px;
  
  button {
    display: block;
    margin: 0 auto;
  }
  &_submit, &_cancel {
    width: 20%;
    min-height: 30px;
    margin: 0 auto;
    border: none;
    color: white;
    border-radius: 5px;
    
  }
  
  &_submit {
    background-color: #1E90FF;
  }
  
  &_cancel {
    background-color: #F08080;
  }
}

.comments_container {
  height: 590px;
  overflow: scroll;
}


@media screen and (max-width: 480px) {
  .new_comment {
    width: 80%;
  }
  
  .comment_btn_submit, .comment_btn_cancel {
    width: 90px;
  }
  
  
  .show_comment_title span {
    font-size: 18px;
  }
  .show_comment_content span {
    font-size: 12px;
  }
}