@import 'variable';

.with_favorited, .non_favorited {
  cursor: pointer;  
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.with_favorited {
  background-color: #DCDCDC;
}

.non_favorited {
  background-color: #FFBEDA;
}

// .favorites_title {
//   color: $primary-color;
// }