.notice {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 99;
  padding: 10px 10px;
  visibility: hidden;
  background-color: white;
  color: #999999;
  -webkit-animation: fade-in-out;
  animation: fade-in-out;
  animation-duration: 5s;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

@-webkit-keyframes fade-in-out {
  0% {
    visibility: visible;
    opacity: 1;
  }
  
  50% {
    visibility: visible;
    opacity: 1;    
  }
  
  100% {
    visibility: hidden;
    opacity: 0;
  }
  
}

@keyframes fade-in-out {
  0% {
    visibility: visible;
    opacity: 1;
  }
  
  50% {
    visibility: visible;
    opacity: 1;    
  }
  
  100% {
    visibility: hidden;
    opacity: 0;
  }
  
}