.slider-wrapper {
  overflow-x: hidden;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.slider {
  display: flex;
  height: 100%;
  transition: 0.3s;
  
  &-item {
    height: 100%;
    background: #461937;
    color: #fff;
    text-align: center;
    
    img {
      height: 100%;
      width: 100%;
    }
  }
}


.prev-btn, .next-btn {
  width: 30px;
  height: 30px;
  background: #ccc;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.7;
}

.prev-btn::after, .next-btn::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  top: 50%;
  transform-origin: 0 0;
  transform: rotate(-45deg);
  border-bottom-color: transparent;
  border-right-color: transparent;
  left: 33%;
}

.prev-btn:hover, .next-btn:hover {
  opacity: 1;
}

.prev-btn {
  transform: translateY(-50%);
  left: 0;
}

.next-btn {
  transform: translateY(-50%) scaleX(-1);
  right: 0;
}
