.top_images
  %ul#top
    %li.top_images_1
      %p TakeOutMapは
      %p テイクアウトサービスを行なっている
      %p お店情報のみをまとめたサービスです。
    %li.top_images_2
      %p 好きなエリア・ジャンルから、お気に入りのお店を探せます。
= javascript_pack_tag 'top'